<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>VivekDhole</title>
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar navbar-light bg-light fixed-top border border-top-0">
    <div class="container">
        <a class="navbar-brand" href="index.html"><b>PORTFO<span class="sub">LIO</span></b></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#Home" >
                        <span><strong>Home</strong></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#About">
                        <span><strong>About</strong></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Services">
                        <span><strong>Services</strong></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Contact">
                        <span><strong>Contact</strong></span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      My Projects
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="https://chat-bot-ashen.vercel.app/">ChatBot-App</a>
                      <a class="dropdown-item" href="https://stack-overflow.cyclic.app/">StackOverflow-Clone</a>
                      <a class="dropdown-item" href="https://instagram-clone-ntpx.onrender.com/">Instagram-Clone</a>
                      <a class="dropdown-item" href="https://todolist-app.cyclic.app/">Todolist-app</a>
                    </div>
                  </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Home Section -->
          <div id="Home">
              <h1>Hi, I am Vivek <strong>Dhole</strong></h1>
              <h2 class="animate__animated animate__pulse animate__infinite infinite">I am a <strong>Web Developer</strong></h2>
              <a href="#Contact" class="btn btn-danger bt-1">Contact me</a>
          </div>
      </section>

<!-- About section -->
      <section id="About">
          <h2 class="animate__animated animate__pulse animate__infinite infinite h"><strong>ABOUT ME</strong></h2>
          <div class="container">
              <div class="row row-item">
                  <div class="col-sm-6 cols-1">
                   <h5 class="p1">Name: <strong class="sub">Vivek Dhole</strong></h5>
                   <h5 class="p1">Dob:<strong strong class="sub">5 Aug 1999</strong></h5>
                   <h5 class="p1">Gmail:<strong strong class="sub">vivekdhole2019@gmail.com</strong></h5>
                   <h5 class="p1">Mob:<strong strong class="sub">9168732004</strong></h5>
                   <h5 class="p1">City:<strong strong class="sub">Yavatmal,Maharastra,India</strong></h5>
                   <a href="../public/img/Resume.pdf" download>
                    <button class="button s-button">Download CV</button>
                  </a>
                  </div>
                  <div class="col-sm-6 cols-2">
                    <span>HTML</span>
                    <div class="progress">
                        <div class="progress-bar pro">100%</div>
                    </div>
                    <span>CSS</span>
                    <div class="progress">
                        <div class="progress-bar pro-1">90%</div>
                    </div>
                    <span>JAVASCRIPT</span>
                    <div class="progress">
                        <div class="progress-bar pro-2">70%</div>
                    </div>
                    <span>JAVA</span>
                    <div class="progress">
                        <div class="progress-bar pro-4">70%</div>
                    </div>
                    <span>C</span>
                    <div class="progress">
                        <div class="progress-bar pro-5">60%</div>
                    </div>
                    <span>C++</span>
                    <div class="progress">
                        <div class="progress-bar pro-6">60%</div>
                    </div>
                    <span>PYTHON</span>
                    <div class="progress">
                        <div class="progress-bar pro-7">50%</div>
                    </div>
                </div>
              </div>
          </div>
      </section>

 <!-- Services section -->
 <section id="Services">
  <div class="container">
    <h2 class="animate__animated animate__pulse animate__infinite infinite h"><strong>MY PROJECTS</strong></h2>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="https://stack-overflow.cyclic.app/">
            <img class="d-block w-100" src="/img/stackoverflow.png" alt="First slide" />
          </a>
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <div class="carousel-item">
          <a href="https://instagram-clone-ntpx.onrender.com/">
            <img class="d-block w-100" src="/img/instagram-clone.png" alt="Second slide" />
          </a>
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <div class="carousel-item">
          <a href="https://chat-bot-ashen.vercel.app/">
            <img class="d-block w-100" src="/img/ChatBot.png" alt="Third slide" />
          </a>
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <div class="carousel-item">
          <a href="https://todolist-app.cyclic.app/">
            <img class="d-block w-100" src="/img/Todolist.png" alt="fourt slide" />
          </a>
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
</section>

<!-- Contact Section -->
      <section id="Contact">
        <div class="container">
            <h2 class="animate__animated animate__pulse animate__infinite infinite h"><strong>CONTACT US</strong></h2>
            <div class="row">
                <div class="col-sm-6">
                   <form action="/" method="post">
                    <div class="form-control ne">
                        <label for="user">Name</label>
                        <input type="text" name="name" class="form-control" value="" placeholder="enter your name" required>
                        <label for="email">Email-Id</label>
                        <input type="email" name="email" class="form-control" value="" placeholder="enter your Email" >
                        <label for="comment">Comment</label>
                        <textarea class="form-control" name="texta" rows="5" cols="80" placeholder="your requirment"></textarea>
                        <button type="submit" name="submit" class="btn btn-secondary bt">Submit</button>
                    </div>
                </form> 
                </div>
                <div class="col-sm-6 icon">
                    <h3 class="animate__animated animate__flash animate__infinite infinite h"><strong> follow me </strong></h3>
                    <a href="https://api.whatsapp.com/send?phone=+919168732004&text=hello"><i class="fab fa-whatsapp fi"></i></a>
                    <a href="https://instagram.com/vivek_dhole?utm_medium=copy_link"><i class="fab fa-instagram fi"></i></a>
                    <a href="https://www.facebook.com/vivek.dhole.1"><i class="fab fa-facebook-f fi"></i></a>
                    <a href="https://github.com/Vicky9168"><i class="fab fa-github fi"></i></a>
                    <a href="https://linkedin.com/in/vivek-dhole-74a001226"><i class="fab fa-linkedin-in fi"></i></a>
                </div>
            </div>
        </div>
    </section>

<!-- Footer Section-->
    <footer>
    <div class="container-fluid">
      <h5>Copyright ©All rights reserved</h5>
    </div>  
  </footer>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>     
</body>
</html>